# Eslintignore for LobeHub
################################################################

# dependencies
node_modules
.pnp
.pnp.js

# ci
coverage
.coverage

# test
jest*
*.test.ts
*.test.tsx

# umi
.umi
.umi-production
.umi-test
.dumi/tmp*
!.dumirc.ts

# production
dist
es
lib
logs

# misc
# add other ignore file below
.next

# testing
.nyc_output

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
*.log

# Generated Supabase types
src/types/supabase.ts
